@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body, html {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  height: 100%;
  font-weight: 700;
}

.banner {
  background: url("https://images.unsplash.com/photo-1591510669755-5e6dbb1ca33d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80") no-repeat center center;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 180px;
}

.bannerRegister{
  background: url("https://images.unsplash.com/photo-1591510669755-5e6dbb1ca33d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80") no-repeat center center;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 160px;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-color: #198754;
  opacity: 85%;
}

.login-form{
  height: 400px;
  width: 430px;
  padding: 0 35px;
  border-radius: 20px;
}

.register-form{
  height: 420px;
  width: 430px;
  padding: 0 35px;
  border-radius: 20px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  border-radius: 20px;
}

.btn-login {
  height: 35px;
  border-radius: 20px;
  font-weight: 700;
}

.forgotpassword:hover {
  color: #198754;
  text-decoration: none;
}